.loginview{
	margin-top:180px;
	padding:20px;
	padding-left:100px;
	padding-right:100px;
	border:4px solid black;
	border-radius:10px;
        font-size: 16px;
       font-family: "Comic Sans MS", cursive, sans-serif;	
         border: 1px;
	background-color:black;
	color:white;
	text-align:center;
	padding-bottom:10px;}



#logoview{
  border-radius: 15px;
  padding:10px;
  color:white;
  background-color:black;
  font-family:'Comic Sans MS', cursive, sans-serif;
  border:2px solid black;
  position:absolute;
  top:20px;
  left:20px;
  border-radius: 10px;

}

.registrationview{
	margin-top:180px;
	padding:20px;
	border:4px solid black;
	border-radius:10px;
	padding-left:100px;
	padding-right:100px;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;	
    border: 1px;
	background-color:black;
	color:white;
    text-align:center;
	padding-bottom:20px;
	margin-bottom:40px;
	}
	
.add{
	margin-top:180px;
	padding-left:50px;
	padding-right:50px;
	border:4px solid black;
	border-radius:10px;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;	
	background-color:white;
	color:black;
	text-align:left;

	}
	
.mainf{
	margin-top:180px;
	padding-top:10px;	
	border:4px solid black;
	border-radius:10px;
    font-family: "Comic Sans MS", cursive, sans-serif;	
	background-color:white;
	color:black;
	text-align:center;
	font-size:16px;
	padding-bottom:40px;
	margin-bottom:50px;
	padding-right:100px;
	padding-left:100px;
	}
.displayview{
	margin-top:180px;
	padding:10px;
	border:4px solid black;
	border-radius:10px;
	font-size: 16px;
        font-family: "Comic Sans MS", cursive, sans-serif;	
	background-color:white;
	color:black;
	text-align:center;
	}
	
body{	
	background-image:url(foodnew.jpg);
	}
	
.row.content {height: 450px}
  
    
@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
   
      }
      .row.content {height:auto;} 
    }
.pull-left{ margin-left:35%;}
	
#section {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  height:770px;
}
   	 	 
.button {
    background-color: #172331; 
	font-family: "Comic Sans MS", cursive, sans-serif;
    border: none;
    color: white;
    padding: 0;
	text-decoration: none;
	width: 140px;  
	height: 40px;
    text-align:center;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
	
}

.button1 {
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.2), 0 17px 20px 0 rgba(0,0,0,0.19);
}
.button2:hover {
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button3:hover {
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button4:hover {
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button5:hover {
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

 #mainqs{
	 text-align:left;
	 margin-left:25%;
 }
#mealResults{
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
   
}
 
#meal{
	font-size:20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
 }
 #result{
	font-size:20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color:black;
	
 }
#button11{
  width:120px;
  background-color:#8A1C16;
  color:white ;
  font-size:15px;
  font-family:'Comic Sans MS', cursive, sans-serif;
  }
 
#button22{
  width:120px;
  background-color:#8A1C16;
  color:white ;
  font-size:15px;
  font-family:'Comic Sans MS', cursive, sans-serif;    
  }
#signin{
  background-color:black;
  color:white ;  
  }
#enter{
  background-color:black;
  color:white ;  
  }
#login{
  background-color:black;
  color:white ;  
  }
#SAVE{
  background-color:black;
  color:white ;  
  }
 
 
.btn-danger{
	font-size: 20px;
	width:550px;

	} 
.dropdown-menu{
 font-size: 500px;

	}
.dropdown-menu li{
	width:550px;
	text-align:center;
    font-size: 20px;
	
}

#sea{
	width:400px;
	height:30px;
	 font-size: 20px;
}


#Login,#Register,#Logout {
	width:150px;
	font-size:20px;
}
#addrecipe, #sub{
	width:190px;
	font-size:20px;	
}
#textMeal{
    font-family: "Comic Sans MS", cursive, sans-serif;	
}
#mainSearchBack{
  width:200px;
  color:white ;
  font-family:'Comic Sans MS', cursive, sans-serif;
}


.new_Btn {
text-align:center;
width: 200px;
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;

text-decoration: none;
color: initial;

}

#file_upload{
      width:100px;
	 height:100px;}





